body{
  margin: 0;
  display: grid;
  height: 100vh;
}

.main{
  margin: 0;
  display: grid;
  justify-items:center;
  align-items: center;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  padding-top: 25px;
  font-weight: bold;
  z-index: 10;
  position: relative;
  grid-row: 1 / 2;
  align-self: start;
}
.encabezado{
  display: grid;
  align-items: center;
  justify-items:center;
   grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.container{
  display: grid;
  grid-template-rows: repeat(auto-fit, 45px);
  grid-gap: 30px;
  margin-top: 10px;
 align-self: start;
}

.video{

z-index: 1;
position: fixed;
background-attachment: fixed;
background-size: cover;
height: 1080px;
width: 1920px;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -o-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
}

video{
z-index: 1;
margin: 0;
height: 100%;
width: 100%;
}

@media screen and (max-width: 720px){
.main{
  margin: 0;
  padding-top: 0;
  display: grid;
  justify-items:center;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  z-index: 10;
  position: relative;
  align-self: center;

}
.encabezado{
  display: grid;
  align-items: center;
  justify-items:center;
  padding-left: 0;

}
.container{
  align-self: start;
  margin-top: 0;
}



}

@media screen and (min-height: 1080px){
  .video{
    transform: scale(1.7);
  }
}

.foto{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  align-self: center;
  z-index: 10;
  position: relative;
  display: grid;
}
.foto video{


}

.usuario{
align-self: center;
padding: 20px;
color: black;
}

.usuario h1{
  margin: 0;
  font-size: 20px;
  color: ;
  font-weight: bolder;
  text-align: center;
}
.usuario p{
  font-weight: normal;
  text-align: center;
}



.btn{
  display: grid;
  align-self: center;
  height: 100%;
  width: 40vw;
  min-width: 300px;
  border: none;
  background-color: rgba(230, 230, 230, 0.75);
  border-radius: 30px;
  transition: 0.3s;
  box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px, rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset, rgb(0 0 0 / 20%) 0px -1px 3px inset;
}

.btn:hover{
  transform: scale(1.1) translateX(30px);
  background-color: rgba(250, 250, 250, 0.90);
  box-shadow: rgb(38 50 56 / 16%) 0px 10px 18px, rgb(0 0 0 / 30%) 0px 5px 6px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset, rgb(0 0 0 / 20%) 0px -1px 3px inset;

}
.btn:active{
  transform: scale(0.98);
  background-color: rgba(0, 0, 0, 0.90);
  box-shadow: rgb(38 50 56 / 16%) 0px 10px 18px, rgb(0 0 0 / 30%) 0px 5px 6px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset, rgb(0 0 0 / 20%) 0px -1px 3px inset;

}
.btn:focus{
  outline: inherit;
}
.btn a:focus{
    outline: inherit;
}
.btn a{
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: black;
  font-size: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 15;
}

.btn-red{
  background-size: cover;
  height: 30px;
  position: absolute;
  filter: blur(2px);
  transition: 0.3s;
  align-self: center;
  justify-self:center;
  padding-top: 3px;
  opacity: 0;
}


.btn:hover > .btn-red{
  opacity: 0.7;
   filter: blur(0);
  padding-right: 150px;
}
.btn:hover > .btn-red{


}
@media screen and (max-width: 720px){
.btn-red{
  background-size: cover;
  height: 30px;
  position: absolute;
  align-self: center;
  justify-self:center;
  padding-top: 3px;
  opacity: 0.5;
  padding-right: 150px;
  filter: blur(0.1px);
}
}

footer{
  position: relative;
  z-index: 15;
  font-family: 'Quicksand', sans-serif;
  align-self: end;
  justify-self:center;
  font-size: 12px;
}

footer a{
  text-decoration: none;
  color: black;
}